@media only screen and (max-width:420px){
    ul{
        position: relative;
        left: 3000px;
    }

    .daftar{
        position: relative;
        left: 2000px;
    }

    .masuk{
        position: relative;
        left: 3000px;
    }

    .layanan-pertama {
        flex-direction: column;
        gap: 100px;
    }




    .profil {
        position: relative;
        top: 100px;
    }





    
}